//=============================
//Color Variables
//=============================

$create-and-submit            :#2ECC71;
$create-and-submit-hover      :#26A65B;
$white-border                 :#fff;
$delete                       :#F22613;
$delete-hover                 :#CF000F;

